body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  list-style: none;
}

footer {
  color: #30475e;
}

.botaoprocurar {
  color: white;
}

a:link {
  text-decoration: none;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 35rem;
  background-color: #30475e;
}

.linha-amarela {
  border-radius: 5px;
  border-top: 5px solid #fdcf00;
  width: 250px;
  margin: 0 auto;
}

.botaocontato {
  background-color: #ecd77b;
  width: 190px;
  border-radius: 5px;
  text-align: center;
}

.botaoPessoa {
  background-color: #30475e;
  border-radius: 4px;
  padding: 10px 24px;
  color: white;
  transition-duration: 0.4s;
  font-style: unset;
}

.botaoPessoa:hover {
  background-color: #ecd77b;
  color: black;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  list-style: none;
}

footer {
  color: #30475e;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 35rem;
  background-color: #30475e;
}

a:link {
  text-decoration: none;
}

.linha-amarela {
  border-radius: 5px;
  border-top: 5px solid #fdcf00;
  width: 250px;
  margin: 0 auto;
}

.botaocontato {
  background-color: #ecd77b;
  width: 190px;
  border-radius: 5px;
  text-align: center;
}

.botaoPessoa {
  background-color: #30475e;
  border-radius: 4px;
  padding: 10px 24px;
  color: white;
  transition-duration: 0.4s;
  font-style: unset;
}

.botaoPessoa:hover {
  background-color: #ecd77b;
  color: black;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}